
$primary: #26633C;
$primary-hover: #164929;

$secondary: #014454;
$secondary-hover: #042e38;

$primary-clear: #557D33;

$text: #343434;

$green: #a7c139;
$green-secondary: #1a9141;
$excel: #107c41;
// $check: #74fa4e;
$check: #5ac85d;

$silver: #efefef;
$light-grey: #d8d8d8;
$bg-grey: #F6F8FA;
$input: #dfe1ea;
$medium-grey: #80868B;
$dark-grey: #363636;

$light-green: #dff8ea;

$white: #fff;
$black : #151515;

$button-color: #1A73E8;
$button-color-hover: #1a59ac;

/* FONTS */
$font-text: 'Roboto', sans-serif;
$font-title: 'Roboto', sans-serif;
//$font-title: 'Poppins', sans-serif;

$xsmall: 8.5px;
$small: 12px;
$normal: 14px;
$medium: 16px;
$large: 22px;
$xl: 28px;
$xxl: 34px;

/* SCORE */
$score-0: rgb(194, 194, 194);
$score-1: #b20016;
$score-2: #ed1c24;
$score-3: #ef7100;
$score-4: #f9b233;
$score-5: #fcee21;
$score-6: #b4dd22;
$score-7: #39b54a;
$score-8: #007f2d;


// $score-1: #ed1c24;
// $score-2: #f7931e;
// $score-3: #fcee21;
// $score-4: #b4dd22;
// $score-5: #39b54a;